@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as place;

.button{
    background-color: var.$color-primary;
    color: var.$color-text-white;
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: var.$radius-md;

    padding: 0.8rem;

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}