$color-primary: #2563eb;
$color-primary-dark: #2563eb;
$color-text: #111827;
$color-text-white:white;
$color-muted: #6b7280;
$color-background: #f8fafc;
$color-surface: #fff;
$color-border: #f7fafc;

$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
$spacing-2xl: 64px;
$spacing-3xl: 80px;

$radius-md: 8px;
$radius-lg: 16px;
$raduis-xl: 24px;

$heading-sm: 20px;
$heading-md: 40px;
$heading-lg: 60px;

$body-sm: 12px;
$body-md: 16px;
$body-lg: 20px;
$body-xl: 24px;
$body-2xl: 28px;
$body-3xl: 32px;

$shadow-card: 3px 3px 72px 2px #0000003b;